@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h4>Add a new machine</h4>
<p>@Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger", @style = "font-weight: 600;"})</p>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Title)
  @Html.TextBoxFor(model => model.Title)

  @Html.LabelFor(model => model.Status)
  <select name="Status" id="Status">
  <option value="0">Operational</option>
  <option value="1">Malfunctioning</option>
  <option value="2">Being Repaired</option>
</select>


  <input type="submit" value="Add new machine" />
}
<p>@Html.ActionLink("Back to List", "Index")</p>

