@{
  Layout = "_Layout";
}

@using Factory.Models;

<h1>Welcome to the Factory Tracker!</h1>
<hr>

<h4>Engineers <span><a href="/Engineers"><button type="button" class="btn btn-light btn-sm">Manage</button></a>
  </span></h4>
@if (Model["engineers"].Length == 0)
{
  <p>No engineers have been added yet!</p>
}
<ul>
  @foreach (Engineer engineer in Model["engineers"])
  {
    <li>@Html.ActionLink(@engineer.Name, "Details", "Engineers", new { id = @engineer.EngineerId})</li>
  }
</ul>

<h4>Machines <span><a href="/Machines"><button type="button" class="btn btn-light btn-sm">Manage</button></a>
  </span></h4>
@if (Model["machines"].Length == 0)
{
  <p>No machines have been added yet!</p>
}
<ul>
  @foreach (Machine machine in Model["machines"])
  {
    <li>@Html.ActionLink(@machine.Title, "Details", "Machines", new { id = @machine.MachineId})</li>
  }
</ul>